.nav-container {
    display: table;
    width: 100%;
    padding-top: 1%;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: .5%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
