/*
	If navbar is collapsed
	Hide the map.
*/
@media (max-width:766px){
	.event-container{
		margin-top: 16px;
		overflow-y: hidden;
	}
	.event-display-column{
		height: calc(100vh - 80px);
		background-color: #282929;
	}
	.event-display-column h4{
		color: white;
	}
	.map-display-column{
		height: calc(100vh - 80px);
		background-color: black;
		display: none;
	}
}

/*
	If navbar is not collapsed
	Show the map.
*/
@media (min-width: 766px) {
	.event-container{
		margin-top: 0px;
	}
	.event-display-column{
		height: calc(100vh - 80px);
		background-color: #282929;
	}
	.event-display-column h4{
		color: white;
	}
	.map-display-column{
		height: calc(100vh - 80px);
		background-color: white;
	}
	#eventSectionViewMapButton{
			display: none;
	}
}
.map-hr{
	width: 100%;
	margin: 10px !important;
}
.event-section-clickable-area{
	height: 100%;
	width: 100%;
}

.event-name-holder{
	width: 100%;
	text-overflow: ellipsis;
	white-space: nowrap;
  	overflow: hidden;
}

.event-description-holder{
	width: 100%;
	text-overflow: ellipsis;
	white-space: nowrap;
  	overflow: hidden;
}

.event-display-column{
	overflow-y: scroll;
}

.dd-event-display-filter-modals{
	font-size: 20px;
	color: white;
}
.dd-event-display-filter-selector-global{
	background-color: #279AF1;
	border-radius: 10px;
	text-decoration: none;
	list-style-type: none;
	text-align: center;
}
.sortByTimeDropDown{
	font-size: 20px;
	float: left;
	width: 100%;
	display: block;
}
.sortByTagDropDown{
	font-size: 20px;
	float: left;
	width: 100%;
}

.applyFilterDropDownUL{
	background-color: #279AF1 !important;
	border-radius: 10px;
}

.pickLocationPage{
	margin-top: -4%;
	height: 100vh;
	overflow: hidden;
	background-color: #A0F;
}