.event-display-column{
	height: calc(100vh - 80px);
	background-color: black;
}
.event-display-column h4{
	color: white;
}
.map-display-column{
	height: calc(100vh - 80px);
	background-color: black;
}
