.container
{
    display: table;
    width: 100%;
	padding-top:  2%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.eventNameHeader{
	font-size: 18px;
	text-transform: uppercase;
}

.eventDescription{
	font-size: 15px;
	max-width: 100px;
    text-overflow: ellipsis;
	/* Required for text-overflow to do anything */
  	white-space: nowrap;
  	overflow: hidden;
}

.row
{
    height: 100%;
	padding-top: 4%;
	display: table-row;
}

@media (min-width: 992px) {
  .row .no-float {
      display: table-cell;
      float: none;
  }
}
.col-md-3 {
    background: black;
}
.col-md-9 {
    background: gray;
}
