.container
{
    display: table;
    width: 100%;
	padding-top:  2%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.event-display-column{
	height: calc(100vh - 80px);
	background-color: black;
}
.event-display-column h4{
	color: white;
}
.map-display-column{
	height: calc(100vh - 80px);
	background-color: black;
}
