input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 50px #282929 inset !important; /* Change the color to your own background color */
    -webkit-text-fill-color: white;
	color: white;
}
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 50px #282929 inset !important;
    -webkit-text-fill-color: #fff;
	color: white;
}
