.gm-style-iw {
	width: 400px !important;
	height: 150px;
	left: 5px !important;
	background-color: #282929;
	border-radius: 2px 2px 10px 10px;
}

#iw-container .iw-content {
	font-size: 20px;
	line-height: 18px;
	font-weight: 400;
	margin-right: 1px;
	padding: 25px 15px 20px 20px;
	max-height: inherit;
	overflow-y: auto;
	overflow-x: hidden;
	padding: 5px;
}

.iw-subTitle {
	font-size: 20px;
	font-weight: 700;
	padding: 5px 0;
}
