$background-primary: #373737

.mapHolder
	height: 100%
	width: 100%
	padding-top: 4%

.mapRow
	// position: relative
	height: 100vh

.mapDiv
	background-color: gray
	height: 650px

.scrollBoxDiv
	background-color: gray
	height: 650px

.loading
	font-family: 'Passion One'
	padding: 100px
	display: block
	font-size: 35px
	color: white


#fullMapDiv
	text-align: left
	background-color: black
	width: 100%
	bottom: 18px
	height: 500px
	margin-top: 50px
	display: inline-block
	position: relative
