$background-primary: rgb(209, 210, 210)
$background-gradient-1: rgb(174, 166, 176)
$background-gradient-2: rgb(112, 112, 112)
$white: #fff
$black_50: rgba(0,0,0,.5)
$color_trendy_pink_approx: #a14fa2
$color_shark_approx: #282929

.mixrEventMap
	background: $background-primary
	// background: linear-gradient(to bottom, $background-primary 0,$background-gradient-1 47%,$background-gradient-2 100%) !important
	filter: progid:dximagetransform.microsoft.gradient(startcolorstr='$background-primary', endcolorstr='$background-gradient-1',gradienttype=0) !important

#fullMapDiv
	text-align: left
	background-color: black
	margin-left: 35%
	width: 65%
	bottom: 18px
	height: 500px
	margin-top: 50px
	display: inline-block
	position: relative

#boxDiv
	text-align: right
	background-color: black
	margin-left: 35%
	width: 65%
	bottom: 18px
	height: 500px
	margin-top: 0px
	display: inline-block
	position: relative

.mapDirectionsCallout
	padding-top: 4%

.loading
	font-family: 'Passion One'
	padding: 100px
	display: block
	font-size: 35px
	color: white
