.eventDisplay
	font-family: 'Passion One'
	padding: 10px
	display: block
	font-size: 25px
	color: white

.full-height-map
	height: 90%

.mapDirectionsCallout
	text-align: center
	font-size: 25px;
	color: black