.btn-danger {
	background-color: #DB2B39;
	border-color: #DB2B39;
	color: white;
	float: left;
}

.btn-success{
	background-color: #279AF1;
	border-color: #279AF1;
	color: #000000;
	float: right;
}
.btn-info{
	background-color: #FFBA08;
	border-color: #FFBA08;
	color: #000000;
}

.btn-danger:hover {
	background-color: #9e1c26;
	border-color: #9e1c26;
}

.btn-success:hover{
	background-color: #1564a1;
	border-color: #1564a1;
}

.btn-info:hover{
	background-color: #a27500;
	border-color: #a27500;
}

.btn-danger:active .btn-danger:focus{
	background-color: #9e1c26 !important;
	border-color: #9e1c26 !important;
}

.btn-success:active .btn-danger:focus{
	background-color: #1564a1 !important;
	border-color: #1564a1 !important;
}

.btn-info:active .btn-info:focus{
	background-color: #a27500 !important;
	border-color: #a27500 !important;
}
