.mainManageEventPage{
	background-color: #A0F;
	height: 100%;
	width: 100%;

}
.manageEventContainer{
	font-family: 'Passion One';
	font-size: 35px;
}
.manageEventRow{
	padding-left: 2%;
	padding-top: 60px;
	width: 100%;
}
.manageEventCol{
	height: 65vh;
	width: 48%;
	margin: 1%;
	overflow-y: scroll;
	background-color:#292828;
	color: white;
}
.nameLinkCreated{
	color: white;
	font-size: 30px;
}

.customScrollbar::-webkit-scrollbar {
    width: 20px;
}
 
 .customScrollbar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
.customScrollbar::-webkit-scrollbar-thumb {
    border-radius: 100px;
	-webkit-box-shadow: inset 0 0 100px rgb(170,0,255)
}

