@media(min-width: 992px){
	.manageEventContainer{
		font-family: 'Passion One';
		display: block;
		margin: 5%;
		font-size: 35px;
	}
	.manageEventRow{
		width: 100%;
	}
	.manageEventPageCol{
		width: 45%;
		margin-right: 4%;
		background-color: #292828;
		color: white;
	}
	.nameLinkCreated{
		color: white;
		font-size: 30px;
	}
}

@media(min-width: 0px){
	.manageEventContainer{
		font-family: 'Passion One';
		display: block;
		margin: 5%;
		font-size: 35px;
	}
	.manageEventRow{
		width: 100%;
		margin-top: 10px;
	}
	.manageEventPageCol{
		width: 100%;
		margin-right: 4%;
		background-color: #292828;
		color: white;
	}
	.nameLinkCreated{
		color: white;
		font-size: 30px;
	}
}
