.nav-pills{
	font-size: 20px;
	background-color: #282929;
}

.nav-pills a:hover{
	font-size: 20px;
	background-color: #A200FF !important;
}

.nav-pills a:active{
	font-size: 20px;
	background-color: #A200FF !important;
}

#feedbackPaneLink.active{
	background-color: #A200FF !important;
}

.accountSettingsPageMain{
	background-color: #A200FF;
}