.nav-stacked{
	font-size: 20px;
	background-color: #282929;
}
.nav-stacked a:hover{
	font-size: 20px;
	background-color: #A200FF !important;
}

.nav-stacked a:focus{
	font-size: 20px;
	background-color: #A200FF !important;
}
