.nav-col{
	margin-bottom: 20px;
}
.nav-pills{
	font-size: 20px;
	background-color: #282929;
	margin-bottom: 100px;
}

.nav-pills a:hover{
	background-color: #75DBCD !important;
	color: black;
}

#feedbackPaneLink.active{
	background-color: #A200FF !important;
}

.accountContainer{
	height: 100%;
	overflow: hidden;
	background-color: #A200FF;
}


.accountSettingsSubmitButton{
	background-color: #282929 !important;
	margin-top: 10px;
	padding: 10px;
	border-radius: 8px;

}

.accountSettingsSubmitButton:hover{
  background-color: #75DBCD !important;
  color: black;
}
