.nav-col{
	margin-bottom: 20px;
}
.nav-pills{
	font-size: 20px;
	background-color: #282929;
	margin-bottom: 100px;
}

.nav-pills a:hover{
	font-size: 20px;
	background-color: #A200FF !important;
}

.nav-pills a:active{
	font-size: 20px;
	background-color: #A200FF !important;
}

#feedbackPaneLink.active{
	background-color: #A200FF !important;
}

.accountSettingsPageMain{
	background-color: #A200FF;
}

.accountContainer{
	height: 100%;
	overflow: hidden;
	background-color: #A200FF;
}

#changePasswordButton{
	background-color: #282929;
	margin-top: 10px;
	padding: 10px;
	border-radius: 8px;
}
#changePasswordButton:hover{
  background-color: #75DBCD;
  color: black;
}

.accountSetttingPageRow{
	margin-top: 20px;
}

@media(max-width: 995px){
	.containerPaddingAccountSettingPage{
		margin-left: 16px;
	}
}
@media(min-width: 996px){
	.containerPaddingAccountSettingPage{
		margin-left: 16px;
	}
}
