.nav-col{
	padding-top: 30px;
	padding-bottom: 30px;
}
.nav-pills{
	font-size: 20px;
	background-color: #282929;
}

.nav-pills a:hover{
	background-color: #75DBCD !important;
	color: black;
}

.accountContainer{
	height: 100.1%;
	overflow: hidden;
	background-color: #A200FF;
}

.containerPaddingAccountSettingPage{
	margin-left: 16px;
}


.emailPrefLabel{
	font-size: 18px;
	line-height: 15px;
}
/*
	Submit button stuff
*/
.accountSettingsSubmitButton{
	background-color: #282929 !important;
	margin-top: 10px;
	padding: 10px;
	border-radius: 8px;

}

.accountSettingsSubmitButton:hover{
  background-color: #75DBCD !important;
  color: black;
}


/*
	textarea stuff
*/
.accountSettingsPageFeedbackForm{
	width: 100%;
	height: 200px;
	background-color: #282929;
	color: white;
	border: 0px;
	resize: none;
}

.accountSettingsPageFeedbackForm::-webkit-input-placeholder { /* WebKit, Blink, Edge */
	color: white;
	font-size: 18px;
}