.modal-backdrop {
  z-index: 1035;
}
/* modal */
.modal-content {
  background-color: #8CC084;
  border: 1px solid #999999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0;
}

.modal-footer .btn-danger {
	background-color: #DB5461;
	color: black;
}

.modal-footer .btn-success{
	background-color: #1BE7FF;
	color: #0c0000;
}
.modal-footer .btn-info{
	background-color: #8693AB;
	color: #0c0000;
}
