.modal-backdrop {
  z-index: 1035;
}
/* modal */
.modal-content {
  background-color: #282929;
  color: white;
  border-radius: 0;
}
.modal-content .modal-title {
	text-align: center;
	color: white;
}
.modal-content h5{
	text-align: center;
	color: white;
}
.slider{
	margin-left: 175px;
}




.checkbox-tag-filter{
	margin-left: 50px;
}
.modal-footer .btn-danger {
	background-color: #DB2B39;
	border-color: #DB2B39;
	color: white;
}

.modal-footer .btn-success{
	background-color: #279AF1;
	border-color: #279AF1;
	color: #000000;
}
.modal-footer .btn-info{
	background-color: #FFBA08;
	border-color: #FFBA08;
	color: #000000;
}
