<template name="accountSettingsPage">
	<link href="https://fonts.googleapis.com/css?family=Passion+One" rel="stylesheet">
	{{> changePasswordLink}}
	{{> feedBackLink}}
</template>


<template name="changePasswordLink">
	<div class="activeDiv">
		<div class="row">
			<a href="" id="changePasswordLink">Change your password</a>
		</div>
	</div>
</template>

<template name="feedBackLink">
	<div class="activeDiv">
		<div class="row">
			<a href="" id="giveFeedbackLink">Give feedback!</a>
		</div>
	</div>
</template>
