<template name="sortByTagsEventFilterModal">
	<div class="modal fade">
	    <div class="modal-dialog">
	        <div class="modal-content">
	            <div class="modal-header">
	                <h4 class="modal-title">Which events do you want to see?</h4>
	            </div>
				<div class="checkbox checkbox-mixr checkbox-inline">
					<input type="checkbox" class="styled" id="sportsCheckboxFilter" name="eventTagFilterCheckboxes">
					<label for="sportsCheckboxFilter">Sports</label>
				</div>
				<div class="checkbox checkbox-mixr checkbox-inline">
					<input type="checkbox" class="styled" id="performancesCheckboxFilter" name="eventTagFilterCheckboxes">
					<label for="performancesCheckboxFilter">Performances</label>
				</div>
				<div class="checkbox checkbox-mixr checkbox-inline">
					<input type="checkbox" class="styled" id="artsCheckBoxFilter" name="eventTagFilterCheckboxes">
					<label for="artsCheckBoxFilter">Arts</label>
				</div>
				<div class="checkbox checkbox-mixr checkbox-inline">
					<input type="checkbox" class="styled" id="academicInterestFilter" name="eventTagFilterCheckboxes">
					<label for="academicInterestFilter">Academic Interest</label>
				</div>
				<div class="checkbox checkbox-mixr checkbox-inline" >
					<input type="checkbox" class="styled" id="otherFilter" name="eventTagFilterCheckboxes">
					<label for="otherFilter">Other</label>
				</div>
	            <div class="modal-footer">
	                <button type="button" class="btn btn-danger btn-float-left" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-success btn-float-right" id="submitEventFilterTagSelections" data-dismiss="modal">Filter Tags</button>
	            </div>
	        </div>
	    </div>
	</div>
</template>


<template name="sortByTimeEventFilterModal">
	<div class="modal fade">
	    <div class="modal-dialog">
			 <div class="modal-content">
 	            <div class="modal-header">
 	                <h4 class="modal-title">Filter events by time</h4>
					<h5 class="timeFilterPadding">Event starts within: </h5>
					<input id="ex1" class="timeSlider"/>
 	            </div>
	        	<div class="modal-footer">
	            	<button type="button" class="btn btn-danger btn-float-left" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-success btn-float-right" id="submitEventFilterTimeSelections" data-dismiss="modal">Filter Times</button>
	        	</div>
			</div>
	    </div>
	</div>
</template>
