<template name="changePasswordModal">
	<div class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<form class="changePasswordModalForm">
					<div class="modal-header">
						<h4 class="modal-title">Change your password</h4>
					</div>
					<div class="modal-body login-block">
						<input type="password" value="" placeholder="Enter current password" id="currentPasswordChangePasswordModal"/>
						<input type="password" value="" placeholder="New Password" id="newPassword1"/>
						<input type="password" value="" placeholder="Confirm Password" id="newPassword2"/>
					</div>
					<div class="modal-footer">
						<button type="submit" class="btn btn-success btn-float-right" id="changePasswordButton">Change Password</button>
						<button class="btn btn-danger btn-float-left" data-dismiss="modal">Nevermind</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</template>

<template name="passwordChangedModal">
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Password changed successfully!</h3>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal">Great!</button>
                </div>
            </div>
        </div>
    </div>
</template>
