<template name="createEventPage">
	<div class="padDown">
		<div class="create-event-block">
			<h1>Create a new event</h1>
				<form class="form-inline">
					<div class="form-group">
						<input type="text" placeholder="Event Name" id="eventName" required/>
					</div>
					<div class="form-group">
						<input type="text" placeholder="Event Location Details (e.g: field by park)" id="eventLocation" required/>
					</div>
					<input type="textarea" placeholder="Event Description">
					<input type="submit" value="Choose Event Location" id="pickLocationButton" required/>
				</form>
		</div>
	</div>
</template>
