<template name="feedbackModalDisplay">
	<div class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<form class="sendFeedbackModalForm">
					<div class="modal-header">
						<h4 class="modal-title">What's on your mind?</h4>
					</div>
					<div class="modal-body feedback-modal-block">
						<textarea value="" placeholder="Please provide feature requests, bug reports or anything else you'd like to communicate with the dev team here. Thanks for your feedback!" id="feedbackArea" autofocus required></textarea>
					</div>
					<div class="modal-footer">
						<button type="submit" class="btn btn-success btn-float-right" id="sendFeedbackButton">Send to dev team!</button>
						<button class="btn btn-danger btn-float-left" data-dismiss="modal">Nevermind</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</template>
