<template name="forgotPasswordModal">
	<div class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<form class="forgotPasswordModalForm">
					<div class="modal-header">
						<h4 class="modal-title">Reset your password</h4>
					</div>
					<div class="modal-body login-block">
						<input type="email" value="" placeholder="Enter email address" id="userEmailForgotPasswordModal" autofocus required/>
					</div>
					<div class="modal-footer">
						<button type="submit" class="btn btn-success btn-float-right" id="forgotPasswordButton"> Forgot password</button>
						<button class="btn btn-danger btn-float-left" data-dismiss="modal">Nevermind</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</template>
