<template name="geolocationErrorPage">
	<div class="container-fluid error-container">
		<h1 class="header-center-main">Sorry! You are currently in an area NOT supported by this beta.</h1>
		<h3 class="header-center">We currently only support Boulder, Colorado. We are working to bring mixr to more places. If you'd like to see mixr in your area, <a href="#" id="tellUsLink">please tell us!</a></h3>
		<h3 class="header-center">We hope to see you back here once we support your area.</h3>
		<h3 class="header-center">All the best,</h3>
		<h3 class="header-center">The mixr dev team!</h3>
	</div>
</template>
