<template name="landingPage" class="landingPageMain">

    <a name="intro"></a>
	<div class="site-wrapper">
	  <div class="site-wrapper-inner">
	    <div class="cover-container">
	      <div class="inner cover">
	        <h1 class="cover-heading">mixr.</h1>
	        <p class="lead">Welcome to the world's first event-based social network. Meet similarly minded people near you and do the things you love.</p>
	      </div>
	    </div>
	  </div>
	</div>

	<section id="section-button" class="scroll-down-button">
		<a href=""><span></span>Learn More</a>
	</section>
	<h1 class="cover-heading">mixr is: </h1>
    <div class="content-section-a" id="whatIsMixr">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Fresh</h2>
                    <p class="lead">
						mixr is a new social network concept that revolves around real life events, a platform to connect like-minded individuals to the events and activites they love.
					</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
					<i class="fa fa-users fa-5x bannerIconSpacing" aria-hidden="true"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="content-section-b">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Nearby</h2>
                    <p class="lead">mixr is all done based on location, so every time you see an interesting event going on later, chances are it's right around the corner!</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6">
					<i class="fa fa-crosshairs fa-5x bannerIconSpacing" aria-hidden="true"></i>
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
    <!-- /.content-section-b -->

    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Spontaneous</h2>
					<p class="lead">mixr emphasizes events happening in the near future so you'll always be able find something intersting happening around you. Never be bored again!</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
					<i class="fa fa-clock-o fa-5x bannerIconSpacing" aria-hidden="true"></i>
                </div>
            </div>
        </div>
    </div>

    <!-- /.content-section-a -->


	{{#unless currentUser}}
	<div class="content-section-c">
	    <div class="container container-special">
	        <div class="row">
	            <div class="col-sm-8">
	                <h2>The mixr beta is live! Join now: </h2>
	            </div>
	            <div class="col-sm-4">
					<button class="btn btn-success btn-lg bannerButton" id="signupBannerButton">Sign up!</button>
	            </div>
	        </div>
	    </div>
	</div>


    <!-- /.banner -->
	{{/unless}}

    <!-- Footer -->
    <footer>
        <div class="container container-black">
            <div class="row">
                <div class="col-lg-12">
				<ul class="list-inline">
					<li>
						<a id="privacyModalLink">Privacy</a>
					</li>
					<li>
						<a id="simplePrivacyModalLink">Privacy (for users)</a>
					</li>
					<li>
						<a id="termsModalLink">Terms</a>
					</li>
					<li>
						<a id="disclaimerModalLink">Beta Disclaimer</a>
					</li>
				</ul>
                    <p class="copyright footer-text small">Copyright mixr &copy; concept. Daniel Schwabacher and Nicholas Montoya. All Rights Reserved</p>
                </div>
            </div>
        </div>
    </footer>
</template>
