<template name="loginPage">
	<div class="padDown">
		<div class="login-block">
			<h1>Login</h1>
			<form class="loginForm">
				<input type="text" value="" placeholder="Email" id="emailLogin" required/>
				<input type="password" value="" placeholder="Password" id="passwordLogin" required/>
				<input type="submit" value="Login" placeholder="Register" id="loginButton" required/>
				<section class="forgotPassword">
					<a href=""><span></span>Forgot password?</a>
				</section>
			</form>
			<a class="forgotPasswordLink" href="#">Forgot Password</a>
		</div>
  </div>
</template>
