<template name="manageEventsPanel">
	<link href="https://fonts.googleapis.com/css?family=Passion+One" rel="stylesheet">
	<div class="manageEventContainer mainManageEventPage">
		{{#if Template.subscriptionsReady}}
		<div class="row manageEventRow">
			<div class="col-xs-6 manageEventCol customScrollbar">
				My Created Events:
				<hr> {{#each getAssociatedEventNames getOwnedEventIds}} {{> eventCreatedNameHolder}} {{/each}}
			</div>
			<div class="col-xs-6 manageEventCol customScrollbar">
				My Registered Events:
				<hr> {{#each getAssociatedEventNames getRegisteredEventIds}} {{> eventRegisteredNameHolder}} {{/each}}
			</div>
		</div>
		{{else}} {{> manageEventLoader}} {{/if}}
	</div>
</template>


<template name="manageEventLoader">
	{{> spinner}}
</template>

<template name="eventCreatedNameHolder">
	<a class="nameLinkCreated">
		<li>{{ eventName }}</li>
	</a>
</template>

<template name="eventRegisteredNameHolder">
	<a class="nameLinkRegistered">
		<li>{{ eventName }}</li>
	</a>
</template>


<template name="dynamicModalCreated">
	<div class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Event Details</h4>
				</div>
				<div class="modal-body">
					<h3>Event Name: {{returnContextualEventName}}</h3>
					<h3>Event Location: {{returnContextualEventLocation}}</h3>
					<h3>Event Description: {{returnContextualEventDescription}}</h3>
					<h3>Event Date and Time: {{returnContextualEventDateTime}}</h3>
					<h3>Number of People Registered: {{returnContextualNumberAttending}} / <small>{{returnMaxNumberAttending}}</small></h3>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-danger" data-dismiss="modal" id="deleteEventModalButton">Delete Event</button>
					<button type="button" class="btn btn-info-secondary" data-dismiss="modal" id="unregisterEventCreatedButton">Unregister</button>	
					<button type="button" class="btn btn-info" data-dismiss="modal">Nevermind</button>					
				</div>
			</div>
		</div>
	</div>
</template>

<template name="dynamicModalRegistered">
	<div class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Event Details</h4>
				</div>
				<div class="modal-body">
					<h3>Event Name: {{returnContextualEventName}}</h3>
					<h3>Event Location: {{returnContextualEventLocation}}</h3>
					<h3>Event Description: {{returnContextualEventDescription}}</h3>
					<h3>Event Date and Time: {{returnContextualEventDateTime}}</h3>
					<h3>Number of People Registered: {{returnContextualNumberAttending}} / <small>{{returnMaxNumberAttending}}</small></h3>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-info btn-float-left" data-dismiss="modal">Nevermind</button>
					<button type="button" class="btn btn-danger unregisterEventRegisteredModal btn-float-right" data-dismiss="modal">Unregister</button>
				</div>
			</div>
		</div>
	</div>
</template>

<template name="deleteEventMemoModal">
		<div class="modal fade">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">Please tell everyone registered why you're deleting the event</h4>
					</div>
					<div class="modal-body">
							<textarea class="accountSettingsPageFeedbackForm" id="deleteEventMemo" value="" placeholder="This memo will be sent to everyone registered for your event. You can explain why you're removing this event and perhaps tell them to expect an alternative time. Those registered will appreciate it if you fill out this section!" 
							autofocus required></textarea>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-danger" data-dismiss="modal" id="confirmDeleteEventModalButton">Confirm Deletion</button>
						<button type="button" class="btn btn-info" data-dismiss="modal">Nevermind</button>					
					</div>
				</div>
			</div>
		</div>
	</template>