<template name="manageEventsPanel">
	<link href="https://fonts.googleapis.com/css?family=Passion+One" rel="stylesheet">
	<div class="manageEventContainer">
		{{#if Template.subscriptionsReady}}
		<div class="row manageEventRow">
			<div class="col-md-6 manageEventPageCol">
				My Created Events:
				{{#each getAssociatedEventNames getOwnedEventIds}}
					{{> eventCreatedNameHolder}}
				{{/each}}
			</div>
		</div>
		<div class="row manageEventRow">
			<div class="col-md-6 manageEventPageCol">
				My Registered Events:
				{{#each getAssociatedEventNames getRegisteredEventIds}}
					{{> eventRegisteredNameHolder}}
				{{/each}}
			</div>
		</div>
		{{else}}
			{{> manageEventLoader}}
  		{{/if}}
	</div>
</template>


<template name="manageEventLoader">
	Loading your events...
</template>




<template name="eventCreatedNameHolder">
	<a class="nameLinkCreated"><li>{{ eventName }}</li></a>
</template>

<template name="eventRegisteredNameHolder">
	<a class="nameLinkRegistered"><li>{{ eventName }}</li></a>
</template>


<template name="dynamicModalCreated">
	<div class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Event Details</h4>
				</div>
				<div class="modal-body">
					<h3>Event Name: {{returnContextualEventName}}</h3>
					<h3>Event Location: {{returnContextualEventLocation}}</h3>
					<h3>Event Description: {{returnContextualEventDescription}}</h3>
					<h3>Event Date and Time: {{returnContextualEventDateTime}}</h3>
					<h3>Number of People Registered: {{returnContextualNumberAttending}}</h3>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-info btn-float-left" data-dismiss="modal">Nevermind</button>
					<button type="button" class="btn btn-danger deleteEventCreatedModal btn-float-right" data-dismiss="modal">Delete Event</button>
				</div>
			</div>
		</div>
	</div>
</template>

<template name="dynamicModalRegistered">
	<div class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Event Details</h4>
				</div>
				<div class="modal-body">
					<h3>Event Name: {{returnContextualEventName}}</h3>
					<h3>Event Location: {{returnContextualEventLocation}}</h3>
					<h3>Event Description: {{returnContextualEventDescription}}</h3>
					<h3>Event Date and Time: {{returnContextualEventDateTime}}</h3>
					<h3>Number of People Registered: {{returnContextualNumberAttending}}</h3>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-info btn-float-left" data-dismiss="modal">Nevermind</button>
					<button type="button" class="btn btn-danger unregisterEventRegisteredModal btn-float-right" data-dismiss="modal">Unregister</button>
				</div>
			</div>
		</div>
	</div>
</template>
