<template name="mapModal">
	<div class="modal fade">
	    <div class="modal-dialog">
			 <div class="modal-content">
 	            <div class="modal-header">
 	                <h4 class="modal-title">Event location</h4>
 	            </div>
				<div class="huge">
					This feature is in development and coming soon. 
					For now, please expand the window to view event locations
				</div>
	        	<div class="modal-footer">
	            	<button type="button" class="btn btn-danger btn-float-left" data-dismiss="modal">Close</button>
	        	</div>
			</div>
	    </div>
	</div>
</template>
