<template name="mixrEventMap">
  	<div class="map-container">
		<div class="row">
  			<div class="col-md-3 no-float">
				{{> eventDisplay}}
			</div>
  			<div class="col-md-9 no-float">
				{{> googleMap name="mixrMap2" options=initPrimaryEventMapOptions}}
			</div>
		</div>
	</div>
</template>

<template name="mapLoader">
	<div class="loading">
		Fetching events around you...
	</div>
</template>

<template name="eventDisplay">
	<div class="eventDisplay">
		Events around you:
		<hr class="section-heading-spacer">
		{{#each getEvents returnSessionTags returnSessionTimes}}
			{{> eventSection }}
		{{/each}}
	</div>
</template>

<template name="eventSection">
	<div class="clickableArea">
		<div class="row">
			<div class="col-sm-4">{{ event_name }}</div>
		</div>
		<div class="row">
			<div class="col-sm-4">{{ event_description }}</div>
		</div>
		<button class="btn btn-info">More info</button>
		<button class="btn btn-success">Register!</button>
		<br>
		<hr class="section-heading-spacer">
	</div>
</template>
