<template name="mixrEventMap">
	<div class="container-fluid event-container">
		<div class="row content">
			<div class="col-sm-3 event-display-column">
				<h4>Events Around You</h4>
				<hr>
				{{> eventDisplay}}
			</div>

			<div class="col-sm-9 map-display-column">
				{{> googleMap name="mixrMap" options=initPrimaryEventMapOptions}}
			</div>
		</div>
	</div>
</template>


<template name="eventDisplay">
	<div class="eventDisplay">
		{{#each getEvents returnSessionTags returnSessionTimes}}
			{{> eventSection }}
		{{/each}}
	</div>
</template>

<template name="eventSection">
	<div class="clickableArea">
		<div class="row">
			<div class="col-sm-4">{{ event_name }}</div>
		</div>
		<div class="row">
			<div class="col-sm-4">{{ event_description }}</div>
		</div>
		<button class="btn btn-info">More info</button>
		<button class="btn btn-success">Register!</button>
		<br>
		<hr class="section-heading-spacer">
	</div>
</template>
