<template name="navbar">
	{{> yield }}
	{{#if currentUser}}
		{{> navbarActive}}
	{{else}}
		{{> navbarInactive}}
	{{/if}}
</template>

<template name="navbarActive">
	<div role="navigation" class="navbar navbar-inverse navbar-fixed-top">
		<div class="nav-container">
			<div class="navbar-header">
				<div class="navbar-buttons">
					<button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle navbar-btn">Menu<i class="pe-7s-menu"></i></button>
				</div>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li><a href="{{pathFor 'home'}}" data-toggle="collapse" data-target=".navbar-collapse.in"><i class="fa fa-home" aria-hidden="true"></i>&nbsp;mixr</a></li>
				</ul>
				<ul class="nav navbar-nav nb-center">
					<li><a href="{{pathFor 'events'}}" data-toggle="collapse" data-target=".navbar-collapse.in"><i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp;Events around me</a></li>
					<li><a href="{{pathFor 'manage'}}" data-toggle="collapse" data-target=".navbar-collapse.in"><i class="fa fa-list" aria-hidden="true"></i>&nbsp;Manage my events</a></li>
					<li><a href="{{pathFor 'create'}}" data-toggle="collapse" data-target=".navbar-collapse.in"><i class="fa fa-plus-circle" aria-hidden="true"></i>&nbsp;Create an event</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="{{pathFor 'account'}}" data-toggle="collapse" data-target=".navbar-collapse.in"><i class="fa fa-cog" aria-hidden="true"></i>&nbsp;{{firstName}} {{lastName}}</a></li>
					<li class="navbar-signout"><a href="{{pathFor 'logout'}}" data-toggle="collapse" data-target=".navbar-collapse.in"><i class="fa fa-sign-in"></i>&nbsp;Logout</a></li>
				</ul>
			</div>
		</div>
	</div>
</template>


<template name="navbarInactive">
	<div role="navigation" class="navbar navbar-inverse navbar-fixed-top">
		<div class="nav-container">
			<div class="navbar-header">
				<div class="navbar-buttons">
					<button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle navbar-btn">Menu<i class="pe-7s-menu"></i></button>
				</div>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li><a href="{{pathFor 'home'}}" data-toggle="collapse" data-target=".navbar-collapse.in">mixr</a></li>
				</ul>
				<ul class="nav navbar-nav nb-center">
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="{{pathFor 'signup'}}" data-toggle="collapse" data-target=".navbar-collapse.in"><i class="fa fa-cog" aria-hidden="true"></i>Signup</a></li>
					<li><a href="{{pathFor 'login'}}" data-toggle="collapse" data-target=".navbar-collapse.in"><i class="fa fa-sign-in"></i>Login</a></li>
				</ul>
			</div>
		</div>
	</div>
</template>
