<template name="accountSettings">
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<ul class="nav nav-pills nav-stacked">
					<li class="sideBarSettingLinks" id="authPaneLink"><a href="#"><i class="fa fa-list-alt fa-fw"></i>Authentication</a></li>
					<li class="sideBarSettingLinks" id="emailPaneLink"><a href="#"><i class="fa fa-file-o fa-fw"></i>Email Settings</a></li>
					<li class="sideBarSettingLinks" id="feedbackPaneLink"><a href="#"><i class="fa fa-bar-chart-o fa-fw"></i>Give Feedback!</a></li>
				</ul>
			</div>
			{{> currentPane}}
		</div>
	</div>
</template>

<template name="currentPane">
	{{> Template.dynamic template=getCurrentPane}}
</template>

<template name="AuthenticationPane">
	<div class="col-md-9 well">
		<form class="changePasswordModalForm">
			<div class="modal-header">
				<h4 class="modal-title">Change your password</h4>
			</div>
			<div class="modal-body">
				<input type="password" value="" placeholder="Enter current password" id="currentPasswordChangePasswordModal" autofocus/>
				<input type="password" value="" placeholder="New Password" id="newPassword1"/>
				<input type="password" value="" placeholder="Confirm Password" id="newPassword2"/>
			</div>
			<div class="modal-footer">
				<button type="submit" class="btn btn-success btn-float-right" id="changePasswordButton">Change Password</button>
				<button class="btn btn-danger btn-float-left" data-dismiss="modal">Nevermind</button>
			</div>
		</form>
	</div>
</template>


<template name="EmailSettingsPane">
	<div class="col-md-9 well">
		<form class="updateEmailPrefModalForm">
			<div class="modal-header">
				<h4 class="modal-title">Email Preferences</h4>
			</div>

			<div class="checkbox checkbox-mixr checkbox-inline">
				<input type="checkbox" class="styled" id="createdEventPref" name="emailPrefCheckboxes">
				<label for="createdEventPref">Notify me when I create an event</label>
			</div>

			<div>
			</div>

			<div class="checkbox checkbox-mixr checkbox-inline">
				<input type="checkbox" class="styled" id="registeredEventPref" name="emailPrefCheckboxes" checked>
				<label for="registeredEventPref">Notify me when I register for an event</label>
			</div>

			<div class="checkbox checkbox-mixr checkbox-inline">
				<input type="checkbox" class="styled" id="eventDeletedPref" name="emailPrefCheckboxes" checked>
				<label for="eventDeletedPref">Notify me when an event I'm registered for is cancelled</label>
			</div>

			<div class="modal-footer">
				<button type="submit" class="btn btn-success btn-float-right" id="updateEmailPrefButton">Update Preferences</button>
				<button class="btn btn-danger btn-float-left" data-dismiss="modal">Nevermind</button>
			</div>
		</form>
	</div>
</template>

<template name="FeedbackPane">
	<div class="col-md-9 well">
		<form class="sendFeedbackModalForm">
			<div class="modal-header">
				<h4 class="modal-title">What's on your mind?</h4>
			</div>
			<div class="modal-body feedback-modal-block">
				<textarea value="" placeholder="Please provide feature requests, bug reports or anything else you'd like to communicate with the dev team here. Thanks for your feedback!" id="feedbackArea" autofocus required></textarea>
			</div>
			<div class="modal-footer">
				<button type="submit" class="btn btn-success btn-float-right" id="sendFeedbackButton">Send to dev team!</button>
				<button class="btn btn-danger btn-float-left" data-dismiss="modal">Nevermind</button>
			</div>
		</form>
	</div>
</template>
