<template name="loginFailedNotification">
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Login Failed</h4>
                </div>
                <div class="modal-body">
                    <p>Invalid email or password</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</template>

<template name="signupSuccessModal">
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Account created successfully</h4>
                </div>
                <div class="modal-body">
                    <p>Welcome to the mixr beta!</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal">Great!</button>
                </div>
            </div>
        </div>
    </div>
</template>
