<template name="loginFailedNotification">
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Login Failed</h3>
                </div>
                <div class="modal-body">
                    <p>Invalid email or password</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal" autofocus>Close</button>
                </div>
            </div>
        </div>
    </div>
</template>

<template name="signupSuccessModal">
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Account created successfully</h3>
                </div>
                <div class="modal-body">
                    <p>Welcome to the mixr beta!</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal">Great!</button>
                </div>
            </div>
        </div>
    </div>
</template>

<template name="signupFailedModal">
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Account could not be created, email in use.</h3>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal">Ok</button>
                </div>
            </div>
        </div>
    </div>
</template>

<template name="passwordsDoNotMatchModal">
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Passwords do not match.</h3>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal" autofocus>Ok</button>
                </div>
            </div>
        </div>
    </div>
</template>


<template name="confirmEventModal">
	<div class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Confirm Event</h4>
				</div>
				<div class="modal-body">
					<h3 id="eventNameConfirmation">Event Name: {{returnEventName}}</h3>
					<h3 id="eventLocationConfirmation">Event Location: {{returnLocation}}</h3>
					<h3 id="eventDescriptionConfirmation">Event Description: {{returnDescription}}</h3>
					<h3 id="eventDateTimeConfirmation">Event Date and Time: {{returnDateTime}}</h3>
					<h3 id="eventTagTypeConfirmation">Event Tag: {{returnEventTagType}}</h3>
					<h3 id="eventTagTypeConfirmation">Max number of attendees: {{returnMaxNumber}}</h3>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-danger cancelEventButton btn-float-left" data-dismiss="modal">Cancel Event</button>
					<button type="button" class="btn btn-success confirmEventButton btn-float-right" data-dismiss="modal">Confirm</button>
					<button type="button" class="btn btn-info pickDifferentLocationButton btn-float-right" data-dismiss="modal">Pick Different Location</button>
				</div>
			</div>
		</div>
	</div>
</template>


<template name="eventInformationModal">
	<div class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Event Details</h4>
				</div>
				<div class="modal-body">
					<h3>Event Name: {{getMarkerEventName}}</h3>
					<h3>Event Location: {{getMarkerEventLocation}}</h3>
					<h3>Event Description: {{getMarkerEventDescription}}</h3>
					<h3>Event Date and Time: {{getMarkerEventDateTime}}</h3>
					<h3>Event Tag: {{getMarkerEventTag}}</h3>
					<h3>Number of People Registered: {{getMarkerEventNumberRegistered}} / <small>{{returnMaxNumber}}</small> </h3>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-danger notInterestedInEventButton" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-success registerEventButton" data-dismiss="modal">Register for this event!</button>
				</div>
			</div>
		</div>
	</div>
</template>
