<template name="settingsPage">
	<link href="https://fonts.googleapis.com/css?family=Passion+One" rel="stylesheet">
	{{> leftSettingsPane}}
	{{> activeContent}}
</template>

<template name="activeContent">
	{{> Template.dynamic template=getCurrentFocus}}
</template>

<template name="leftSettingsPane">
	<div class="navbar navbar-inverse navbar-fixed-left settings-pane-left">
		<ul class="nav navbar-nav">
			<li class="mapSettingsLink"><a href="#">Map Settings</a></li>
			<li class="manageEventsLink"><a href="#">Manage my events</a></li>
			<li class="changePasswordLink"><a href="#">Change Password</a></li>
		</ul>
	</div>
</template>

<template name="mapSettingsPanel">
	<div class="activeDiv">
		<div class="row">
			On map settings
		</div>
	</div>
</template>


<template name="manageEventsPanel">
	<div class="activeDiv">
		<div class="row">
			My Created Events:
			{{#each getAssociatedEventNames getOwnedEventIds}}
				{{> eventNameHolder}}
			{{/each}}
		</div>
		<div class="row">
			My Registered Events:
			{{#each getAssociatedEventNames getRegisteredEventIds}}
				{{> eventNameHolder}}
			{{/each}}
		</div>
	</div>
</template>

<template name="eventNameHolder">
	<a class="nameLink"><li>{{ eventName }}</li></a>
</template>

<template name="dynamicModalRegistered">
	<div class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Event Details</h4>
				</div>
				<div class="modal-body">
					<h3>Event Name: {{returnContextualEventName}}</h3>
					<h3>Event Location: {{returnContextualEventLocation}}</h3>
					<h3>Event Description: {{returnContextualEventDescription}}</h3>
					<h3>Event Date and Time: {{returnContextualEventDateTime}}</h3>
					<h3>Number of People Registered: {{returnContextualNumberAttending}}</h3>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-info" data-dismiss="modal">Nevermind</button>
					<button type="button" class="btn btn-danger unregisterDynamicRegisterModal" data-dismiss="modal">Unregister</button>
				</div>
			</div>
		</div>
	</div>
</template>
