<template name="settingsPage">
	Settings
	{{> leftSettingsPane}}
</template>

<template name="leftSettingsPane">
	<div class="navbar navbar-inverse navbar-fixed-left settings-pane-left">
		<a class="navbar-brand" href="#"></a>
		<ul class="nav navbar-nav">
			<li><a href="#">Map Settings</a></li>
			<li><a href="#">Manage my events</a></li>
			<li><a href="#" onclick="changePasswordModal.show()">Change Password</a></li>
		</ul>
	</div>
</template>

<template name="changePasswordModal">
  <div class="login-block">
    <input type="password" value="" placeholder="Enter current password" id="currentPassword"/>
    <input type="password" value="" placeholder="New Password" id="newPassword1"/>
    <input type="password" value="" placeholder="Confirm Password" id="newPassword2"/>
  </div>
</template>

<template name="activeContent">
	<div class="activeDiv">
		{{> Template.dynamic template=getCurrentFocus}}
	</div>
</template>
